@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto+Slab:wght@200&display=swap');

@media (max-width:768px) {
    .details {
        flex-direction: column-reverse;
    }

    .left-section {
        width: 100% !important;
        height: 100%;
    }

    .right-section {
        width: 100% !important;
        height: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-line {
        margin-top: 10px;
    }
}

.navbar {
    background-color: #44220C;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    margin-top: -70px;
    position: absolute;
}

.navbar-brand {
    padding: 0px;
}

.navbar-item svg:hover {
    color: #7FD0D3;
}

.content {
    background-color: #FAF7F1 !important;
}

.top-section {
    font-family: Lobster Two;
    color: #44220C;
}

.top-section h1 {
    font-weight: bold;
    font-style: italic;
}

.left-section {
    width: 50%;
    height: 50%;
    font-family: Roboto Slab;
}

.left-section p {
    color: #44220C;
}

.right-section {
    width: 50%;
    height: 50%;
}

.color-pallete {
    list-style: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

#red {
    background-color: orangered;
}

#blue {
    background-color: royalblue;
}

#green {
    background-color: palegreen;
}

.add-to-cart-section {
    background-color: #44220C;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.price-section h2 {
    font-weight: bold;
}

.cart-button,
.dropbown-button {
    background-color: #7FD0D3 !important;
    color: #44220C !important;
    font-weight: bold;
}

footer {
    background-color: #44220C;
}

.vertical {
    content: '';
    border-right: 1px solid white;
}

.footer-line a:hover {
    color: #7FD0D3 !important;
}