.navbar {
    background-color: #44220C;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    margin-top: -50px;
    position: absolute;
}

.navbar-brand {
    padding: 0px;
}

.navbar-item svg:hover {
    color: #7FD0D3;
}

/* @media (max-width:300px) {
    .navbar-brand {
        position: initial;
    }
} */